[start]
cmd = "PORT=3000 node ./dist/server/entry.mjs"

[phases.build]
cmds = [
  "npm install",
  "npm run build"
]

[variables]
NODE_ENV = "production"
HOST = "0.0.0.0"
PORT = "3000"
NIXPACKS_NODE_VERSION = "20"
